<div class="wishlist-button-wrapper header__icon">
  <a href="{{ routes.root_url }}pages/wishlist">
    <span class="svg-wrapper">
      {%- render 'icon-heart' -%}
    </span>
    <span>
      <span class="abr-wl-count" abr-wl-count>0</span>
    </span>
  </a>
</div>
