<div class="abrwl-page page-width" id="abrwl-page">
  WL page
  <nav class="wishlists" id="abrwl-lists-nav">Wishlists</nav>
  <ul class="abrwl-page__list wishlist__grid-items" id="abrwl-products">
    Products
  </ul>
</div>