/* counter */
.wishlist-button-wrapper.header__icon .icon {
  fill: #000;
  margin-bottom: 2px;
}

.wishlist-button-wrapper {
  position: relative;
}
/* buttons */
.wishlist-button-wrapper .abr-wl-count {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 18px;
  height: 18px;
  font-size: 12px;
  background-color: #000;
  color: #fff;
  z-index: 1;
  border-radius: 50%;
}

.abr-wl-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  z-index: 2;
  background-color: transparent;
  border: none;
  padding: 5px;
}

.abr-wl-button:hover {
  cursor: pointer;
}

.abr-wl-button .icon {
  width: 100%;
  height: 100%;
}

.abr-wl-button .icon.heart-filled {
  display: none;
}

.abr-wl-button.awl-is-added .icon.heart {
  display: none;
}

.abr-wl-button.awl-is-added .icon.heart-filled {
  display: block;
}

/* page */
.wishlist__grid-items {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: 25px;
}

.wishlist__grid-item {
  position: relative;
  width: calc((100% - 25px) / 2);
  display: flex;
  flex-direction: column;
}

.wishlist__grid-item p {
  margin: 0;
}

.wishlist__image-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
}

.wishlist__item-price-wrapper {
  margin-top: auto;
}

@media screen and (min-width: 750px) {
  .wishlist__grid-item {
    width: calc((100% - 75px) / 4);
  }
}
